.navbar{
  width:100%;
  padding:20px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:fixed;
  top:0;
  z-index:100;
  background:rgba(0,0,0,0.5);
  backdrop-filter:blur(10px);
}

.logo{
  color:#00f5ff;
}

.nav-links{
  display:flex;
  gap:30px;
}

.nav-links a{
  color:white;
  transition:0.3s;
}

.nav-links a:hover{
  color:#00f5ff;
}

@media (max-width: 768px) {

  .navbar{
    padding: 15px 4%;
    flex-direction: column;
    gap: 15px;
  }

  .logo{
    font-size: 22px;
  }

  .nav-links{
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-links a{
    font-size: 12px;
  }

}